html {
    box-sizing: border-box;
  }
  
  *, *:after, *:before {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
  }
  
  *::first-letter {
    text-transform: capitalize;
  }

body {
    text-align: center;
}

.new_task {
  border: 1px solid rgb(253, 241, 69);
  box-shadow: 1px 2px 1px 2px rgb(0, 0, 0);
  padding-bottom: 20px;
  background-color: rgb(255, 250, 210);
}

.liste>li {
  border: 1px solid rgb(253, 241, 69);
  box-shadow: 1px 2px 1px 2px rgb(202, 238, 255);
  width: max-content;
  height: max-content;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: hsl(51, 96%, 73%);
  font-size: 1.5em;
 
}

.liste>li>button {
  margin-left: 5px;
  padding: 5px;
}

.validBtn {
  background-color: rgb(57, 165, 57);
}

.supBtn {
  background-color: rgb(156, 28, 28);
}

.modifBtn {
  background-color: orange;
}
h1 {
    font-size: 3em;
    margin: 20px;
}

section, article {
    margin: 20px;
}

h2 {
    font-size: 2em;
    margin: 10px;
}

ul {
  list-style: none;
}
